.bgindex{
    background-image: url('../images/bgindex.webp');
}
.navbar {
    background-color: aqua;
    width: 100%;
    height: 55px;
    border-style: solid;
    border-color: aquamarine;
}
.bgnavbarmusique{
    background-color: honeydew;
}

.divmusique {
    padding-top: 17px;
    padding-left: 30px;
    font-size: 1.3em;
    float: left;
}

.divlogo {
    float: left;
}

.imglogo {
    width: 55px;
    height: 55px;
}

.divmaison {
    padding-top: 13px;
    padding-right: 30px;
    font-size: 1.3em;
    float: right;
}

.maison {
    font-size: 2rem;
    color: cornflowerblue;
}

.maison:hover {
    color: red;
}

.selm {
    padding-top: 6px;
    margin-left: 300px;
    color: red;
    float: left;
    font-size: 18px;
}

/* Pour le select musique */

select {
    background-color: cornflowerblue;
    color: white;
    padding: 12px;
    width: 150px;
    font-size: 14px;
}

