* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0 none;
    position: relative; 
    outline: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #252545;
    color: #FFFFFF;
    background-image: url('../images/index-bg.png');
    margin: 0 auto;
    text-transform: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    white-space: nowrap;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    pointer-events: auto;

}

a, a:link, a:visited, a:active {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: #d633ff;
}
a:before { content: ""; position: absolute; width: 100%; height: 3px; bottom: -8px; left: 0; background: #fff; visibility: hidden; transform: scaleX(0); transition: .30s linear; }
a:hover:before, div#a:focus:before { visibility: visible; transform: scaleX(1); }
.liens { transition: opacity .25s ease-in-out; float: right; margin-left: 1rem; }
.lienshover:hover .liens { opacity: 0.25; }
.lienshover:hover .liens:hover { opacity: 1; }

.section0 {
    line-height: 1.8em;
    letter-spacing: .05em;
    color: #fff;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.section0RE {
    max-width: 1000px;
    margin: 0 auto;
    border-top: #FFFFFF solid;
}

.section0RG {
    font-weight: bold;
    float: left;
    margin: 0 auto;
}

.section0RD, .liens {
    float: right;
    margin: 0 auto;
    margin-left: 1rem;
}

.section1, .section3, .section5 {
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 15px;
    text-align: center;
    font-family: inherit;
}

.section2 {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 15px;
    text-align: center;
    animation: defilant 5s linear infinite;
    overflow: hidden;
    position: relative;
}

.section4 {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 15px;
    text-align: center;
}

img, iframe, audio {
    border: #FFFFFF solid;
}

p {
    white-space: pre-line;
}

@keyframes defilant {
    50% { transform: translateX(50%); }
    100% { transform: translateX(-50%); }
}

/* https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css */
.rainbow { animation: colorRotate 1s linear 0s infinite; }
@keyframes colorRotate {
    from { color: #000000; }
    50% { color: #FF3399; }
    100% { color: #000000; }
}
